<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<f:metadata>
    <f:event listener="#{loginController.checkLoginErrors}"
             type="preRenderView"></f:event>
</f:metadata>
<h:head>
    <title>Login</title>
</h:head>
<h:body>

                <h:form id="loginForm" prependId="false">
                    <p:messages id="errorMessages" showDetail="false" />
                    <div class="form-group">
                        <h:outputLabel for="username" value="#{entitiesLabels.user}*  " styleClass="sr-only" />
                        <h:inputText id="username"  required="true" label="username" requiredMessage="Favor de indicar el usuario" styleClass="form-control round-top-left round-top-right"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="password" value="#{entitiesLabels.password}*  " styleClass="sr-only" />
                        <h:inputSecret id="password"  required="true" label="password" requiredMessage="Favor de indicar el password" styleClass="form-control"/>


					
                    </div>
                    <h:commandButton type="submit" id="login" value="Login"
                                     action="#{loginController.doLogin}" styleClass="btn btn-block btn-mulberry " />
                </h:form>

</h:body>

</html>